**/target
**/build
**/.svn
**/bin/
**/.classpath
**/.project
**/.settings
**/.springBean
**/*.iml
**/*.idea
**/.externalToolBuilders
**/test-output

*.sublime-*

*.iml
.gitconfig
/bower_components

/target
/build
/.svn
/bin/
/.classpath
/.project
/.settings
/.springBean
/*.iml
/*.idea
/.externalToolBuilders
/test-output

**/gen-java

deploy.sh

tags

node_modules
dist
.tmp
.sass-cache
bower_components
